body {
    padding-top: 40px;
}

body,
html {
    height: 100%;
}

.clear-padding {
    padding: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-menu {
    background: #1cc3b2a6;
    width: 100%;
}

.dropdown-menu>li>a {
    color: white;
    padding: 4px 0px 8px 19px;
}

.dropdown-menu>li>a:hover {
    background: none;
    color: #e8b860;
}

.link {
    margin-right: 14px;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #cccccc;
    margin-top: 5px;
    margin-right: 13px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #555;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}

/* top Menu */
ul.header-tools {
    list-style-type: none;
    text-align: right;
    cursor: pointer;
    margin-bottom: 0;
}

ul.header-tools li {
    display: inline;
}

ul li {
    transition: 0.7s all;
    list-style-type: none;
    line-height: 28px;
}

a {
    text-decoration: none !important;
}

.top-header {
    background: #f7f7f7;
    padding: 10px 0;
}

.middle-header {
    top: 56px;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    box-shadow: 0 2px 5px -2px #80808042;
}

.inquire-btn {
    border: 1px solid #e8b860;
    color: #e8b860 !important;
}

.header-nav-link {
    padding: 10px 20px 10px !important;
    font-family: "Montserrat", sans-serif !important;
    text-transform: uppercase;
    font-size: 16px !important;
}

.header-nav-link:hover {
    background: #1cc3b278 !important;
    color: #ffffff !important;
    transition: 0.7s;
    border-radius: 3px;
}

.active>.header-nav-link {
    background: #1cc3b2 !important;
    color: #ffffff !important;
    border-radius: 3px;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-brand {
    padding: 0px 15px;
    color: white;
    text-transform: uppercase;
}

#banner {
    margin-top: -40px;
}

.text-white {
    color: white
}

.footer-end a li {
    display: inline;
}

.text-brand {
    color: #1cc3b2
}

.bg-brand {
    background: #1cc3b2
}

.custom-input {
    height: 57px !important;
}

.text-label {
    color: white;
}

.btn-search {
    padding: 15px 45px 15px 45px;
    margin-top: 27px;
}

.search-col {
    padding-right: 0;
}

.clear-padding-right {
    padding-right: 0px;
}

.text-gray {
    color: gray;
}
